{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}OSH ČMS Pardubice</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{block head}
		<link rel="stylesheet" href="{$basePath}/css/style.css">
	{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<div class="header">
		<div id="banner"></div>
		<div class="mainMenu">
            {foreach $menu as $item => $menuItem}
				<a n:href="$menuItem->link" title="{$menuItem->title}"><span {ifCurrent $menuItem->ifCurrent}id="current"{/ifCurrent}>{$item}</span></a>
            {/foreach}
		</div>
		<div class="subMenu">
			{foreach $subMenu as $subItem => $subMenuItem}
				<a n:href="$subMenuItem->link" title="{$subMenuItem->title}"><span {ifCurrent $subMenuItem->ifCurrent}id="current"{/ifCurrent}>{$subItem}</span></a>
			{/foreach}
		</div>

		<img src="{$basePath}/images/znak_SHCMS.png" title="78244" style="position:absolute;top:100px;left:702px;z-index:2;"
			 onclick="location.href='http://www.dh.cz';"/>
		<img src="{$basePath}/images/banner_hvp.png" title="Hasičská vzájemná pojišťovna - náš sponzor"
			 style="position:absolute;top:211px;left:770px;z-index:1;" onclick="location.href='http://www.hvp.cz';"/>
		<img src="{$basePath}/images/banner_alerion.png" title="Výroba vlajek, praporů, znaků, vlaječek, odznaků a symbolů"
			 style="position:absolute;top:252px;left:770px;z-index:1;" onclick="location.href='http://www.alerion.cz';"/>
		<img src="{$basePath}/images/banner_pb.png" title="Služby PO a BOZP. E-shop pro hasiče"
			 style="position:absolute;top:293px;left:770px;z-index:1;" onclick="location.href='http://www.po-bp.cz/';"/>
		<img src="{$basePath}/images/banner_rajce.png" title="Fotky pořízené na akcích OSH Pardubice"
			 style="position:absolute;top:332px;left:770px;z-index:1;" onclick="location.href='http://orhoshpce.rajce.idnes.cz/';"/>


	</div>
	<div id="mainPage">
        {include content}
		<div class="footer">
			{php $dny = explode(",",$footer->pracovniDny|trim)}
			<p>Pracovní doba kanceláře je {foreach $dny as $den}
                {php $firstSpace = strpos($den,' ') -1 }
				<span class="bold">{$den|substr:0:2}</span>{$den|substr:2:$firstSpace-2}
				<span class="bold">{$den|substr:$firstSpace}</span>{if count($dny) > 2},{else}{if !$iterator->isLast()}&nbsp;a{/if}{/if}
				{/foreach}.
				<br />
				Ostatní dny a v době prázdnin pouze po&nbsp;dohodě přes mobilní&nbsp;telefon&nbsp;{$footer->mobil},
				případně mail {$footer->email|replace:"@":"[zavináč]"}.
			</p>
		</div>
	</div>
    {block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
