{*{block content}*}


{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
{block content}

    <div class="contentWrapper">
        <div class="content">
            <div class="admin-content">
                <h2 n:block=title>Nastavení Kanceláře</h2>

                <h2 n:block=subtitle>Současná kancelář</h2>

                {if count($kancelare) > 0}
                    <table>
                        <tr><th>ID</th>
                            <th>Název</th>
                            <th>Adresa</th>
                            <th>Upravit</th><th>Smazat</th></tr>

                        {foreach $kancelare as $id =>$kancelar}
                            <tr>
                                <td>{$kancelar->id}</td>
                                <td>{$kancelar->name}</td>
                                <td>{$kancelar->adresa}</td>
                                <td class="text-na-stred"><a href="{link newKancelar $kancelar->id}"><img src="{$basePath}/images/icons/upravit.png" alt="Upravit"></a></td>
                                <td class="text-na-stred"><a href="{link deleteKancelar! $kancelar->id}" onClick="return confirm('Opravdu smazat??');"><img src="{$basePath}/images/icons/smazat.png" alt="Smazat"></a></td>

                            </tr>
                        {/foreach}
                    </table>
                {else}
                    <p>Žádný záznam o kanceláři v databázi.</p>
                    <a n:href="Admin:newKancelar">Přidat kancelář</a>
                {/if}

        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    {include 'css.latte'}
{/block}