{*{block content}*}


{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
{block content}

    <div class="contentWrapper">
        <div class="content">
                <h2 n:block=title>Přihlášení</h2>
            <br>
            <br>
                {control signInForm}

                <div class="left">
                </div>



        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    {include 'css.latte'}
{/block}