{block content}

<div class="contentWrapper">
    <div class="content">
        <div class="admin-content">
            {if is_numeric($presenter->getParameter('id'))}
                <h2>Úprava Kanceláře</h2>
            {else}
                <h2>Přidání nové kanceláře</h2>
            {/if}

            {control addNewKancelar}
        </div>
    </div>
</div>
{/block}

{block scripts}
    {include parent}
    {include 'css.latte'}
{/block}