{*{block content}*}


{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
{block content}

    <div class="contentWrapper">
        <div class="content">
            <div class="admin-content">
                <h2 n:block=title>Nastavení jednotlivých sborů v okresu</h2>

                <h2 n:block=subtitle>Současné sbory</h2>

                {if count($sbory) > 0}
                    <table>
                        <tr><th>ID</th><th>Název</th><th>E-mail</th><th>web</th><th>Upravit</th><th>Smazat</th></tr>

                        {foreach $sbory as $id =>$sbor}
                            <tr>
                                {dump $sbory}
                                <td>{$sbor->id}</td>
                                <td>{$sbor->name}</td>
                                <td>{$sbor->mail}</td>
                                <td>{$sbor->web}</td>
                                <td class="text-na-stred"><a href="{link newSbor $sbor->id}"><img src="{$basePath}/images/icons/upravit.png" alt="Upravit"></a></td>
                                <td class="text-na-stred"><a href="{link deleteSbor! $sbor->id}" onClick="return confirm('Opravdu smazat??');"><img src="{$basePath}/images/icons/smazat.png" alt="Smazat"></a></td>

                            </tr>
                        {/foreach}
                    </table>
                {else}
                    <p>Žádný sbor v databázi.</p>
                {/if}
                <a n:href="Admin:newSbor">Přidat nový sbor</a>
                <br>


                <div class="spacer"></div>

        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    {include 'css.latte'}
{/block}