{*{block content}*}


{* OR
{import '../components/form.latte'}
{include form signInForm}
*}

<p><a n:href="up">Don't have an account yet? Sign up.</a></p>
{block content}

    <div class="contentWrapper">
        <div class="content">
            <div class="admin-content">
                <h2 n:block=title>Nastavení administrační struktury okresu</h2>

                <h2 n:block=subtitle>Současné funkce</h2>

                {if count($roles) > 0}
                    <table>
                        <tr><th>ID</th><th>Název</th><th>Upravit</th><th>Smazat</th></tr>

                        {foreach $roles as $id =>$usr}
                            <tr>
                                {dump $roles}
                                <td>{$usr->id}</td>
                                <td>{$usr->nazev}</td>
                                <td class="text-na-stred"><a href="{link newRole $usr->id}"><img src="{$basePath}/images/icons/upravit.png" alt="Upravit"></a></td>
                                <td class="text-na-stred"><a href="{link deleteItem! $usr->id}" onClick="return confirm('Opravdu smazat??');"><img src="{$basePath}/images/icons/smazat.png" alt="Smazat"></a></td>

                            </tr>
                        {/foreach}
                    </table>
                {else}
                    <p>Žádná funkce v databázi.</p>
                {/if}
                <a n:href="Admin:newRole">Přidat novou funkci</a>
                <br>


                <div class="spacer"></div>


                <br>
                <h2>Současní hodnostáři</h2>

                {if count($hodnostari) > 0}
                    <table>
                        <tr><th>ID</th><th>Jméno</th><th>email</th><th>funkce</th><th>Upravit</th><th>Smazat</th></tr>

                        {foreach $hodnostari as $id =>$usr}
                            <tr>
                                {dump $hodnostari}
                                <td>{$usr->id}</td>
                                <td>{$usr->jmeno} {$usr->prijmeni}</td>
                                <td>{$usr->email}</td>
                                <td>{$usr->role->nazev}</td>
                                <td class="text-na-stred"><a href="{link newHodnostar $usr->id}"><img src="{$basePath}/images/icons/upravit.png" alt="Upravit"></a></td>
                                <td class="text-na-stred"><a href="{link deleteHodnostar! $usr->id}" onClick="return confirm('Opravdu smazat??');"><img src="{$basePath}/images/icons/smazat.png" alt="Smazat"></a></td>

                            </tr>
                        {/foreach}
                    </table>
                {else}
                    <p>Žádný hodnostář v databázi.</p>
                {/if}
            </div>
            <a n:href="Admin:newHodnostar">Přidat nového hodnostáře</a>
            <br>

        </div>
    </div>
{/block}

{block scripts}
    {include parent}
    {include 'css.latte'}
{/block}