{* This is the welcome page, you can delete it *}


{block content}

    <div class="contentWrapper">
        <div class="content">
            <p>Publikované soubory pro stažení související s čiností Odborné rady mládeže.</p>
            {if count($orm) > 0}
                {foreach $orm as $zaznam}
                    <div>
                        {if $zaznam->soubor->fileLocal}
                            <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                        {else}
                            <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                        {/if}
                    </div>
                {/foreach}
                {control visualPaginator}
            {/if}
        </div>
    </div>
    {/block}

{block scripts}
    {include parent}
    {include 'css.latte'}
{/block}


