{* This is the welcome page, you can delete it *}


{block content}

    <div class="contentWrapper">
        <div class="content">
            {if count($dorost) > 0}
                {foreach $dorost as $zaznam}
                    <div>
                        {if $zaznam->soubor->fileLocal}
                            <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                        {else}
                            <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                        {/if}
                    </div>
                {/foreach}
            {/if}
        </div>
    </div>
{/block}

{block head}
    {include parent}
    {include 'css.latte'}
{/block}


