{block content}

    <div class="contentWrapper">
        <div class="content">
            <div class="left">
                {control kategorieForm}
            </div>
        </div>
    </div>
{/block}

{block head}
    {include parent}
    {include 'css.latte'}
{/block}


