{block content}


<div class="contentWrapper">

    {if count($stickyNote->text) != NULL}
    <div class="sticky taped2" style="width: 250px;z-index:1;">
        {$stickyNote->text}
    </div>
    {/if}
    <div class="content">
        
        <div style="position:absolute;top:222px;left:780px;z-index:1;">
            <a href="archiv/osh/2017_kalendar_akci.xlsx"
               title='Poslední aktualizace kalendáře {$updateDate|date: 'j.n.Y H:i:s'}'>
                <img src="images/osh-kalendar.png" alt="Aktuální kalendář akcí hlášených na OSH Pardubice" align="left"/></a></div>


        {if count($kalendarAkci) > 0}
        <table class="calendar">
            {foreach $kalendarAkci as $zaznam}
            {php $casKonani = $zaznam->datumKonani|date: 'H:i'}
                {if $iterator->isOdd()}
                    <tr class="odd">
                        <td>
                        <span class="date">{$zaznam->datumKonani|date: 'j.n.Y'}</span> - {$zaznam->typ} -
                        <span class="bold">{$zaznam->mistoKonani}</span>: {$zaznam->nazev}
                            {if $casKonani != '00:00'}
                                &nbsp;({$zaznam->datumKonani|date: 'H:i'})
                            {/if}
                            {if $zaznam->kontakt != ''}
                                <br><i>{$zaznam->kontakt}</i>
                            {/if}
                        <td>
                    </tr>
                {else}
                    <tr class="even">
                        <td>
                            <span class="date">{$zaznam->datumKonani|date: 'j.n.Y'}</span> - {$zaznam->typ} -
                            <span class="bold">{$zaznam->mistoKonani}</span>: {$zaznam->nazev}
                            {if $casKonani != '00:00'}
                                &nbsp;({$zaznam->datumKonani|date: 'H:i'})
                            {/if}
                            {if $zaznam->kontakt != ''}
                                <br><i>{$zaznam->kontakt}</i>
                            {/if}
                        <td>
                    </tr>
                {/if}
            {/foreach}
        </table>
        {/if}

        {if count($zasedaniRady) > 0}
            <table class="calendar">
                <p>Zasedání rady:</p>
                {foreach $zasedaniRady as $zaznam}
                    {php $casKonani = $zaznam->casKonani|date: 'H:i'}
                    {if $iterator->isOdd()}
                        <tr class="odd">
                            <td>
                                <span class="date">{$zaznam->casKonani|date: 'j.n.Y'}</span> - zasedání -
                                <span class="bold">{$zaznam->mistoKonani}</span>:
                                {if $zaznam->poznamka != ''}
                                    <i>{$zaznam->poznamka}</i>
                                {/if}
                                {if $casKonani != '00:00'}
                                    &nbsp;({$zaznam->casKonani|date: 'H:i'})
                                {/if}
                            <td>
                        </tr>
                    {else}
                        <tr class="even">
                            <td>
                                <span class="date">{$zaznam->casKonani|date: 'j.n.Y'}</span> - zasedání -
                                <span class="bold">{$zaznam->mistoKonani}</span>:
                                {if $zaznam->poznamka != ''}
                                    <i>{$zaznam->poznamka}</i>
                                {/if}
                                {if $casKonani != '00:00'}
                                    &nbsp;({$zaznam->casKonani|date: 'H:i'})
                                {/if}
                            <td>
                        </tr>
                    {/if}
                {/foreach}
            </table>
        {/if}

        {if count($aktualne) > 0}
            <h2>Aktuálně <a href="{link addDocument $page}"><img src="{$basePath}/images/icons/add.png" alt="Upravit"></a></h2>

            {foreach $aktualne as $zaznam}
                {dump $zaznam}
                <div>
                    {if $zaznam->soubor->fileLocal}
                        <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                    {else}
                        <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                    {/if}
                    <a href="{link editDocument $zaznam->soubor->id}"><img src="{$basePath}/images/icons/upravit.png" alt="Upravit"></a>
                    <a href="{link deleteDocument! $zaznam->soubor->id}" onClick="return confirm('Opravdu smazat??');"><img src="{$basePath}/images/icons/smazat.png" alt="Smazat"></a>
                </div>
            {/foreach}
        {/if}

        {if count($zasedani) > 0}
            <h2>Zasedání představitelů SDH v Černé za Bory</h2>
            {foreach $zasedani as $zaznam}
                <div>
                    {if $zaznam->soubor->fileLocal}
                        <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                    {else}
                        <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                    {/if}
                </div>
            {/foreach}
        {/if}

        {if count($zakonik) > 0}
            <h2>Novela Občanského Zákoníku</h2>
            {foreach $zakonik as $zaznam}
                <div>
                    {if $zaznam->soubor->fileLocal}
                        <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                    {else}
                        <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                    {/if}
                </div>

            {/foreach}
        {/if}

        {if count($hromada) > 0}
            <h2>Volební výroční valné hromady SDH a okrsků</h2>
            {foreach $hromada as $zaznam}
                <div>
                    {if $zaznam->soubor->fileLocal}
                        <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                    {else}
                        <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                    {/if}
                </div>
            {/foreach}
        {/if}

        {if count($vysledky) > 0}
            <h2>Výsledky soutěží</h2>
            {foreach $vysledky as $zaznam}
                <div>
                    {if $zaznam->soubor->fileLocal}
                        <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                    {else}
                        <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                    {/if}
                </div>
            {/foreach}
        {/if}

        {if count($uvodniAkce) > 0}
            {foreach $uvodniAkce as $zaznam}
                <br />
                <img src="{$basePath}/{$zaznam->pathSmall}" width="650" alt="{$zaznam->title}">
            {/foreach}
        {/if}

        <div id="osh-actual-links">
            {foreach $imageLinks as $link}
                <A class="linkTo"
                   href="{$link->url}"
                   title="{$link->title}">
                    <img id="{$link->image}" class="icolink"
                         onmouseover="this.src={$link->pathActive}"
                         onmouseout="this.src={$link->pathShadow}"
                         src="{$link->pathShadow}" alt="{$link->title}"/></A>
            {/foreach}
            <br>
            {foreach $links as $link}
                {if $link->special}
                    <A class="linkTo"
                       href="{$link->url}"
                       onmouseover="document.getElementById({$link->image}).src = {$link->pathActive}"
                       onmouseout="document.getElementById({$link->image}).src = {$link->pathShadow}"
                       title="{$link->title}">{$link->text}</A> |
                {else}
                    <A class="linkTo" href="{$link->url}" title="{$link->title}">{$link->text}</A> |
                {/if}
            {/foreach}
        </div>
    </div>
</div>
    {/block}

    {block head}
        {include parent}
        {include 'css.latte'}
    {/block}

