{* This is the welcome page, you can delete it *}


{block content}
    <div class="contentWrapper">
        <div class="content">
            <p>
            <div class="osh-kontakty">
                <div class="osh-kontakty-nazev">{$pojistovna->jmeno}</div>
                <div>{$pojistovna->adresa}</div>
                <div>tel.: {$pojistovna->telefon}</div>
                <div>fax.: {$pojistovna->fax}</div>
            </div>
            </p>
            <a href="http://www.hvp.cz" title="Hasičská vzájemná pojišťovna, a.s."><IMG src="{$basePath}/images/specialLogos/hvp.jpg" alt="Hasičská vzájemná pojišťovna, a.s."></a>
            <H2>Pojišťovací zprostředkovatelé</H2>
            <p>
            <DIV class="osh-kontakty">
                <DIV class="osh-kontakty-nazev">kancelář OSH Pardubice</DIV>
                <DIV>{$kancelar->adresa}</DIV>
                <DIV>tel.: {$kancelar->telefon}</DIV>
                <DIV>e-mail: {$kancelar->email|replace:"@":"[zavinac]"}</DIV>
                <DIV>{$kancelar->oteviraciDoba}</DIV>
            </DIV>
            </p>

            <p>
            <DIV class="osh-kontakty">
            <DIV class="osh-kontakty-nazev">{$zastupcePojistovny->jmeno}</DIV>
            <DIV>{$zastupcePojistovny->adresa}</DIV>
            <DIV>tel.: {$zastupcePojistovny->telefon}</DIV>
            <DIV>e-mail: {$zastupcePojistovny->email|replace:"@":"[zavinac]"}</DIV>
        </DIV>
            </p>

            {if count($hvp) > 0}
                {foreach $hvp as $zaznam}
                    <div>
                        {if $zaznam->soubor->fileLocal}
                            <p><a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a></p>
                        {else}
                            <p><a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                            </p>
                        {/if}
                    </div>
                {/foreach}
            {/if}


            <img src="{$basePath}/{$pojistovnaLoga->imagePath}" alt="Autopojištění od HVP!">
            <br />
            <img src="{$basePath}/{$pojistovnaLoga->imagePath2}" alt="Autopojištění od HVP!">
        </div>
    </div>
{/block}

{block head}
    {include parent}
    {include 'css.latte'}
{/block}


