{* This is the welcome page, you can delete it *}


{block content}

<div class="contentWrapper">
    <div class="content">
        <H2>Sbory dobrovolných hasičů našeho okresu</H2>
        <P>Zaškrtnutím níže uvedených podmínek omezíte zobrazení pouze na sbory splňující podmínky:</P>
        <form name="filter">
            Sbor má www stránky <input type="checkbox" id="kontakty-uri" onclick="filtruj();">,
            historický prapor <input type="checkbox" id="kontakty-prapor" onclick="filtruj();">
            družstvo přípravek <input type="checkbox" id="kontakty-pripravky" onclick="filtruj();">,
            družstvo maldších žáků <input type="checkbox" id="kontakty-mhm" onclick="filtruj();">,
            družstvo starších žáků <input type="checkbox" id="kontakty-mhs" onclick="filtruj();">,
            družstvo dorostenek <input type="checkbox" id="kontakty-dky" onclick="filtruj();">,
            družstvo dorostenců <input type="checkbox" id="kontakty-dci" onclick="filtruj();">,
            družstvo dorostu mix <input type="checkbox" id="kontakty-dmix" onclick="filtruj();">,

        </form>
        <br>

        <div>
            <ul class="osh-kontakty-columns">
                {foreach $sbory as $sbor}
                    {php $web = substr($sbor->byteArray,0,1)}
                    {if $web == 1}
                        <li class={$sbor->byteArray}><a href="{$sbor->web}" target="_blank">{$sbor->name}</a></li>
                    {else}
                        <li class={$sbor->byteArray}><a href="mailto:{$sbor->name}">{$sbor->name}</a></li>
                    {/if}
                {/foreach}
            </ul>
        </div>
        <br>
    </div>
    {/block}

    {block head}
        {include parent}
        {include 'css.latte'}
    {/block}


    {block scripts}
        <script type="text/javascript">
            var filtr_ids = ['kontakty-uri', 'kontakty-prapor', 'kontakty-pripravky', 'kontakty-mhm', 'kontakty-mhs', 'kontakty-dky', 'kontakty-dci', 'kontakty-dmix'];

            function filtruj() {
                var maska = 0;
                var element;
                for (var i = 0, item; item = filtr_ids[i]; i++) {
                    element = document.getElementById(item);
                    maska = (element.checked == true) ? maska << 1 | 1 : maska << 1;
                }
                var divs = document.getElementsByTagName('li'), idivs = divs.length;
                var cislo;
                while (idivs--) {
                    if (divs[idivs].className) {
                        cislo = parseInt(divs[idivs].className, 2);
                        if ((cislo & maska) == maska) {
                            // div ma definovanu tridu a prevod do ciselne podoby a porovnani s maskou probehl uspesne
                            divs[idivs].style.float = "left";
                            divs[idivs].style.display = "block";
                        } else {
                            divs[idivs].style.float = "none";
                            divs[idivs].style.display = "none";
                        }
                    }
                }
            }
        </script>
    {/block}

