{block content}

    <div class="contentWrapper">
        <div class="content">

            <p>Příspěvky zveřejněné Zpravodajem OSH Pardubice.</p>
            <p>Podklady do Zpravodaje zasílejte na <b>zpravodajosh[zavinac]gmail.com</b>.</p>
            {if count($zpravodaj) > 0}
                {foreach $zpravodaj as $zaznam}
                    <div>
                        {if $zaznam->soubor->fileLocal}
                            <a href="{$zaznam->soubor->path}" title="">{$zaznam->soubor->nazev}</a>
                        {else}
                            <a href="{$zaznam->soubor->url}" target="_blank" title="">{$zaznam->soubor->nazev}</a>
                        {/if}
                    </div>
                {/foreach}
            {/if}
        </div>
    </div>
{/block}

{block head}
    {include parent}
    {include 'css.latte'}
{/block}


