.pagination{ height:36px;margin:18px 0; }
.pagination ul{ display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05); }
.pagination li{ display:inline; }
.pagination a{ float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0; }
.pagination a:hover,.pagination .active a{ background-color:#f5f5f5; }
.pagination .active a{ color:#999999;cursor:default; }
.pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover{ color:#999999;background-color:transparent;cursor:default; }
.pagination li:first-child a{ border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px; }
.pagination li:last-child a{ -webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0; }
.pagination-centered{ text-align:center; }
.pagination-right{ text-align:right; }