BODY {
    color:#555;
    background-color:#f93;
}
H2 {
    color:#00acd6;
}
#banner {
    background: transparent url('../images/banners/bannerORP.png') no-repeat;
    width:780px;
    height:140px;
}

/* --- */

DIV.subMenu A SPAN {
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    border-right:4px solid #cccccc;
}
DIV.subMenu A:hover SPAN {
    background-color:#fff;
    color:#f93;
    border-left:4px solid #fc3;
    border-right:4px solid #fc3;
}
DIV.subMenu A SPAN#current {
    background-color:#fc3;
    color:#fff;
    border-left:4px solid #f93;
    border-right:4px solid #f93;
}
