BODY {
    color:#555;
    background-color:#060;
}
H2 {
    color:#00acd6;
}
#banner {
    background: transparent url('../images/banners/bannerORR.png') no-repeat;
    width:780px;
    height:140px;
}

/* --- */

DIV.subMenu A SPAN {
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    border-right:4px solid #cccccc;
}
DIV.subMenu A:hover SPAN {
    background-color:#fff;
    color:#060;
    border-left:4px solid #093;
    border-right:4px solid #093;
}
DIV.subMenu A SPAN#current {
    background-color:#093;
    color:#fff;
    border-left:4px solid #060;
    border-right:4px solid #060;
}
