@font-face {
	font-family:'Propaganda';
	src:url('fonts/Propaganda.eot');
	src:local('‚o?'), url('fonts/Propaganda.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}


body {
	text-align:center;
	line-height:136%;
	margin:0px auto;
	font-family:Verdana,sans-serif;
	font-size:9pt;
	background-color:#036;
	color:#555;
}
span.bold {
	font-weight: bold;
}

.header {
	margin:auto;
	position:relative;
	padding:0px;
	width:781px;
	text-align:left;
	height:140px;
}

.mainMenu {
	margin-top:-58px;
	margin-left:4px;
	width:100%;
	line-height:28px;
	font-weight:bold;
	display: flex;
}
.mainMenu A:hover {
	text-decoration:none;
}

.mainMenu A:hover SPAN {
	background-color:#fff;
	color:#036;
	border-left:4px solid #286ea0;
	border-right:4px solid #286ea0;
}
.mainMenu A SPAN {
	padding:6px 15px 6px 15px;
	margin:0px 0px 0px 1px; /* rozestupy polozek menu */
	background-color:#f4f4f4;
	color:#505050;
	border-left:4px solid #cccccc;
	border-right:4px solid #cccccc;
}
.mainMenu A SPAN#current {
	background-color:#286ea0;
	color:#fff;
	border-left:4px solid #036;
	border-right:4px solid #036;
}

.subMenu {
	display: flex;
	margin-top:1px;
	margin-left:4px;
	opacity:0.9;
	filter:alpha(opacity=90);
	width:100%;
	line-height:28px;
	font-weight:bold;
	font-size:1em;
}

.subMenu A:hover {
	text-decoration:none;
}

.subMenu A SPAN {
	padding:6px 15px 6px 15px;
	margin:0px 0px 0px 1px;
}


.contentWrapper {
	background-color:white;
	position:relative;
	width:780px;
	min-height: 350px;
	text-align:center;
	margin:auto;
}

#frm-signInForm {
	margin: 0 auto;
	width: 250px;
}

.loginButton {
	text-align: left;
}

.content {
	position:static;
	padding:15px 24px 15px 24px; /* top,right,bottom,left */
	text-align:center;
	min-height: 350px;
	border-left:2px solid #666;
	border-right:3px solid #666;
}

.footer {
	background-color:white;
	padding:0px 24px 0px 24px; /* top,right,bottom,left */
	text-align:center;
	position:relative;
	margin:auto;
	width:727px;
	border: 2px solid #666;
	border-top: 1px solid #DDD;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-right-width: 3px;
}

A {
	text-decoration:none;
}
A:hover {
	color:red;
	text-decoration:underline;
}

h2 {
	margin-bottom:4px;
	margin-top:14px;
	text-transform:capitalize;
	font-family:Propaganda;
	font-weight:normal;
	font-size:1.6em;
	line-height:34px;
	color:#00acd6;
}
p {
	text-indent:10px;
	text-align:center;
	margin: 12px 0 12px 0;
	padding: 0;
}
p:first-letter {
	font-size:18px;
}

img {
	border:0px;
	margin:0px;
}


