BODY {
    color:#555;
    background-color:#c00;
}
H2 {
    color:#00acd6;
}
#banner {
    background: transparent url('../images/banners/bannerOROO.png') no-repeat;
    width:780px;
    height:140px;
}

/* --- */

DIV.subMenu A SPAN {
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    border-right:4px solid #cccccc;
}
DIV.subMenu A:hover SPAN {
    background-color:#fff;
    color:#c00;
    border-left:4px solid #f33;
    border-right:4px solid #f33;
}
DIV.subMenu A SPAN#current {
    background-color:#f33;
    color:#fff;
    border-left:4px solid #c00;
    border-right:4px solid #c00;
}
