BODY {
    color:#555;
    background-color:#4d0069;
}
H2 {
    color:#00acd6;
}
#banner {
    background: transparent url('../images/banners/bannerORHS.png') no-repeat;
    width:780px;
    height:140px;
}

/* --- */

DIV.subMenu A SPAN {
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    border-right:4px solid #cccccc;
}
DIV.subMenu A:hover SPAN {
    background-color:#fff;
    color:#4d0069;
    border-left:4px solid #6e0e91;
    border-right:4px solid #6e0e91;
}
DIV.subMenu A SPAN#current {
    background-color:#6e0e91;
    color:#fff;
    border-left:4px solid #4d0069;
    border-right:4px solid #4d0069;
}
