BODY {
    color:#555;
    background-color:#999;
}
H2 {
    color:#00acd6;
}
#banner {
    background: transparent url('../images/banners/bannerAZH.png') no-repeat;
    width:780px;
    height:140px;
}

/* --- */

DIV.subMenu A SPAN {
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    border-right:4px solid #cccccc;
}
DIV.subMenu A:hover SPAN {
    background-color:#fff;
    color:#505050;
    border-left:4px solid #ff6060;
    border-right:4px solid #ff6060;
}
DIV.subMenu A SPAN#current {
    background-color:#eaeaea;
    color:#505050;
    border-left:4px solid #999;
    border-right:4px solid #999;
}
