#banner {
    background: transparent url('../images/banners/banner.png') no-repeat;
    width:780px;
    height:140px;
}

DIV.subMenu A SPAN {
    background-color:#f4f4f4;
    color:#505050;
    border-left:4px solid #cccccc;
    border-right:4px solid #cccccc;
}
DIV.subMenu A:hover SPAN {
    background-color:#fff;
    color:#036;
    border-left:4px solid #286ea0;
    border-right:4px solid #286ea0;
}
DIV.subMenu A SPAN#current {
    background-color:#286ea0;
    color:#fff;
    border-left:4px solid #036;
    border-right:4px solid #036;
}

table.calendar {
    width:600px;
    margin:auto;
    font-size:8pt;
    border-collapse:collapse;
}
table.calendar tr.odd {
    background-color:#eee;
    color:#444;
}
table.calendar tr.even {
    background-color:white;
    color:#444;
}

span.date {
    font-weight: bold;
    color: #ff0000;
}


table.calendar tr td {
    vertical-align:text-top;
    text-align:left;
    padding:2px 8px 2px 8px;
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}

.linkTo:hover {
    text-decoration:none;
}
.icolink {
    margin:2px;
}


/* sticky note */
@font-face {
    font-family:'GloriaHallelujah';
    src:url('fonts/gloriahallelujah.ttf'), url('fonts/gloriahallelujah.eot');
    font-weight:normal;
    font-style:normal;
}

.sticky {
    position: absolute;
    top: 50px;
    left: -210px;
    background-color: #F4F39E;
    border-color: #DEE184;
    text-align: center;
    margin: 2.5em 0px;
    padding: 1.5em 1em;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    -moz-transform:rotate(3deg);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    font-family: GloriaHallelujah, serif;
    font-smoothing:subpixel-antialiased;
    font-size:20px;
    line-height:1.5;
}
.sticky.taped2:after {
    display: block;
    content: "";
    position: absolute;
    width: 110px;
    height: 30px;
    top: -21px;
    left: 50%;
    border: 1px solid #fff;
    background: rgba(254, 254, 254, .6);
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.1);
    -moz-transform:rotate(1deg);
    box-shadow: 0px 0 3px rgba(0,0,0,0.1);
}

div#osh-actual-links {
    clear:both;
    padding-top:5px;
    margin-top:15px; /* simuluje odsazeni definovane v padding .telo */
    text-align:left;
    width:100%;
    border-top:1px solid #DDD;
}

/* Oshpce:kontakty */
DIV.osh-kontakty {
    width:240px;
    margin: 5px auto;
    padding:6px;
    text-align:center;
}
DIV.osh-kontakty .osh-kontakty-nazev {
    font-weight:bold;
}

UL.osh-kontakty-columns {
    width:700px;
    list-style-type:none;
    margin:0px;
    padding:0px;
}
UL.osh-kontakty-columns:after {
    clear:both;
}
UL.osh-kontakty-columns LI {
    float:left;
    width:170px;
    padding-left:0px;
    text-align:left;
}

/* Oshpce:rezervace */
table#rezervace {
    border-collapse:collapse;
    margin:0px;
}
table#rezervace td {
    border:1px solid grey;
    padding:10px;
}
table#rezervace td.poradi {
    width:25px;
    text-align:center;
}
table#rezervace td.rezervace {
    width:500px;
    text-align:left;
}

/* formulare*/

div.left {
    text-align: left;
}




